*{
    font-size: 14px;
}
#height{
    height: 15%;
}
#item{
    background-color: mediumturquoise;
}
#list{
    background-color: black;
}
#button{
    background-color: rebeccapurple;
}
#header{
    background-color: rgb(219, 219, 219);
}
.IonCol{
    align-items: center;
}
#bodyCards{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

