*{
    font-size: 14px;
}
#height{
    height: 10%;
}
#item{
    height: 60px;
}
#list{
    background-color: rgb(255, 255, 255);
    height: 60px;
}
#button{
    align-self: center;
    text-align: center;
}
#button:hover{
    background: purple;
}

#header{
    background-color: rgb(219, 219, 219);
    height: 60px;
    align-self: center;
}
#bodyCards{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#voidTitle{
    margin-top: 80px;
    text-align: center;
}
